<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add project</title>
</head>
<body>
    <form action="/add_project" method="POST">
        <input type="text" name="project_title"><br><br>
        <input type="date" name="start_date"><br><br>
        <input type="date" name="end_date"><br><br>
        <input type="text" name="description"><br><br>
        <input type="url" name="link"><br><br>
        <!--screen recording-->
        <input type="submit" value="Add project">
    </form>
</body>
</html>