{% extends 'base.html' %}
{% block content %}

    {% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
    <div class="{{ category }}">{{ message }}</div>
  {% endfor %}
{% endwith %}
  
    <div class="container h-100">
      <div class="row justify-content-center align-items-center h-100">
          <div class="col-12 col-lg-9 col-xl-7">
              <div class="card" style="width: 40rem;">
                  <div class="card-body">
                      <h5 class="card-title">Change password</h5>
                      <p class="card-text">
                      <form class="row g-3" action="/change_password" method="post">
                          
                          <div class="col-md-12">
                              <label for="password" class="form-label">Password</label>
                              <input class="form-control" type="password" id="password" name="password" placeholder="Enter password" required>
                          </div>
                          <div class="col-md-12 mb-2">
                              <label for="confirm" class="form-label">Confirm Password</label>
                              <input class="form-control" type="password" id="confirm" name="confirm" placeholder="Enter confirm password" required>
                          </div>
                          
                          <div class="col-12">
                              <button type="submit" class="btn btn-dark">Submit</button>
                          </div>
                      </form>
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
{% endblock %}