<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/add_project" method="get">
        <input type="submit" value="Add project">
    </form><br><br>
    
    {% if project %}
    {% for i in range(0,len) %}
    <form action="/edit_project/{{project[i].0}}" method="get">
    <input type="submit" value="EDIT">
    </form> <br>
    <form action="/del_project/{{project[i].0}}" method="get">
        <input type="submit" value="DELETE">
    </form> <br>    
    <p> Project title : {{ project[i].1 }} <br>
    Start date : {{ project[i].2 }} <br>
    End date : {{ project[i].3 }} <br>
    Description : {{ project[i].4 }} <br>
    Project link : <a href="{{ project[i].5 }}">{{ project[i].5 }}</a>
    </p>
    {% endfor %}
    {% else %}
    <h1>Empty</h1>
    {% endif %}
</body>
</html>